.item {
    align-items: center;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.disabled-page {
    color: #808e9b;
}

.active {
    border-radius: 40px;
    color: #808e9b;
}

.next {
    height: auto;
    width: auto;
    border: none;
    font-size: 40px;
    position: absolute;
    right: 0;
}

.pagination {
    font-size: 20px;
    gap: 10px;
    background: blue;
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 250px;
    margin: 0 auto;
}

.pagination-page {
    font-weight: 700;
}

.previous {
    font-size: 40px;
    height: auto;
    left: 0;
    position: absolute;
    width: auto;
    border: none !important;
}