:root {
    --p-bg-color: #14161A;
    --p-text-color-light: #fff;
    --p-text-color-info: #87CEEB;
    --p-text-color-red: #F00;
    --btn-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.20);
    --montserrat: 'Montserrat', sans-serif;
    --roboto: 'Roboto', sans-serif;
}